<div class="row">
    <main class="col-md-12">
  <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   
        </head>
        <!-- Start your code here -->

        <br />

        <form method="post" action="/courses/add">

            <fieldset>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="courseCode">Course Code:</label>
                            <input class="form-control" id="courseCode" name="courseCode" type="text" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="courseDescription">Course Description:</label>
                            <input class="form-control" id="courseDescription" name="courseDescription" type="text" />
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />

            <input type="submit" class="btn btn-primary float-right" value="Add Course" /><br /><br /><br />

        </form>

        <!-- End your code here  -->

    </main>
</div>